@import "~bootstrap/scss/bootstrap";
.theList {
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.theList li {
  color: #333;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}
ul .theList {
  padding: 0;
}
